{% extends 'base.html' %}
{% load staticfiles %}
{% block nav_blog_active %}active{% endblock %}


{# 页面 CSS #}
{% block header_extends %}
    <link rel="stylesheet" href="{% static '/blog/css/blog.css' %}">
{% endblock %}


{# 页面标题 #}
{% block title %}
    wangzf
{% endblock %}


{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3>
                                    <a href="{% url 'blog_detail' blog.pk %}">
                                        {{ blog.title }}
                                    </a>
                                </h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                                        {{blog.blog_type}}
                                    </a>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    {{blog.created_time|date:"Y-m-d"}}
                                </p>
                                <p>{{ blog.content|striptags|truncatechars:120 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- 页码处理 -->
                <div class="paginator">
                    <!-- <div aria-label="Page navigation"> -->
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 上一页 #}

                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 全部页码 #}

                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next  %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                        {# 下一页 #}
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客,
                        当前第{{ page_of_blogs.number }}页,
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                    <!-- </div> -->
                </div>
            </div>

            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wangzf</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">
            <h3>个人博客网站</h3>
        </a>
    </div>
    <hr>
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>
        <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
        <p>-- 暂无博客，敬请期待 --</p>
    {% endfor %}
    <p>一共有{{ blogs|length }}篇博客</p>
</body>
</html> -->